*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calculadora {
    width: 400px;
    padding: 5em;
    background-color: #c4c4c4;
    color: #000;
    display: flex;
    flex-direction: column;
}

#calculadora h3 {
    font-size: .8em;
    font-weight: 300;
    color: #666;
}

#operacoes {
    text-align: right;
}

#operacao-anterior {
    color: #777;
    padding: 0.2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
}

#operacao-atual {
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    padding: .2em;
    overflow-wrap: break-word;
}

#butao-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

#butao-container button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4m;
    font-size: 1.2em;
    background-color: #dbdbdb;
    cursor: pointer;
}

#butao-container .numero {
    background-color: #f3f3f3;
}

#butao-container button:hover {
    background-color: #bababa;
    border-color: #999;
}

#butao-container #btn-igual {
    grid-column: span 2;
    background-color: #75a5cb;
}

#butao-container #btn-igual:hover {
    background-color: #3a91d8;
}


